<!DOCTYPE html>
<html>
<head>
    <title id="album-title"></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
		<a href="/">Accueil</a>
		<a href="/artistes">Liste des artistes</a>
		<a href="/albums">Albums</a>
		<a href="/sons">Liste des musiques</a>
	</nav>
    <main>
        <h1 id="album-title"></h1>
        <img id="album-image" src="" alt="" width="300" height="300">
        <p id="album-artist"></p>
        <p id="album-genre"></p>
        <p id="album-release-year"></p>
        <p id="album-artistic-director"></p>
        <p id="album-producers"></p>
        <p id="album-label"></p>
	
	<div id="track">
        <h2>Tracklist</h2>
        <ul id="album-songs"></ul>
	</div>
    </main>

    <script>
        // Récupérer l'ID de l'album à partir de l'URL
        var albumId = window.location.pathname.split('/').pop();
        // Faire une requête GET à l'API pour obtenir les informations de l'album
        fetch('/api/album/' + albumId)
            .then(response => response.json())
            .then(album => {
                console.log('album');
                console.log(album);
                console.log('album');
                // Mettre à jour les éléments HTML avec les informations de l'album
                document.getElementById('album-title').innerText = album.title;
                document.getElementById('album-image').src = '/static/albums_img/' + album.image;
                document.getElementById('album-artist').innerText = 'Artiste : ' + album.artist;
                document.getElementById('album-genre').innerText = 'Genre : ' + album.genre;
                document.getElementById('album-release-year').innerText = 'Année de sortie : ' + album.release_year;
                document.getElementById('album-artistic-director').innerText = 'Directeur artistique : ' + album.artistic_director;
                document.getElementById('album-producers').innerText = 'Producteurs : ' + album.producers;
                document.getElementById('album-label').innerText = 'Label : ' + album.label;

                // Générer la liste des chansons
                var songsList = document.getElementById('album-songs');
                album.songs.forEach(function(song) {
                    var listItem = document.createElement('li');
                    var link = document.createElement('a');
                    link.href = '/chanson/' + song.id;
                    link.innerText = song.title;
                    listItem.appendChild(link);
                    songsList.appendChild(listItem);
                });
            })
            .catch(error => console.log(error));
    </script>
</body>
</html>
