<!DOCTYPE html>
<html>
<head>
    <title>Playlists</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

      <nav>
		<a href="/">Accueil</a>
        <a href="{{ url_for('artistes') }}">Liste des artistes</a>
        <a href="{{ url_for('albums') }}">Albums</a>
        <a href="{{ url_for('sons') }}">Liste des musiques</a>
        
		
	</nav>

    <main>
        <a href="/playlist/new">Créer une nouvelle playlist</a>
        <h1>Playlists</h1>
        {% for playlist in playlists %}
        <div class="playlist">
            <div>
                <h2>{{ playlist[1] }}</h2>
                {# <ul>
                    <h3>Retirer :</h3>
                </ul> #}
            </div>
            <aside>
                <a href="playlist/{{ playlist[0] }}">Modifier la playlist</a>
            </aside>
        </div>
        {% endfor %}
    </main>
</body>
</html>