<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Page chanson</title>
</head>
<body>
    
    <nav>
        <a href="/">Accueil</a>
        <a href="{{ url_for('artistes') }}">Liste des artistes</a>
        <a href="{{ url_for('albums') }}">Albums</a>
        <a href="{{ url_for('sons') }}">Liste des musiques</a>
    </nav>
    <main>
        <h1 id="chanson-title"></h1>
        <img id="chanson-image" src="" alt="" width="300" height="300">
        <a href="#" id="edit-link">Modifier la chanson</a>
        <a style="color:red" href="#" id="delete-link">Supprimer la chanson ATTENTION IRREVERSIBLE !!!!!!</a>
        <p id="description"></p>
        <p id="duree"></p>
        <p id="directeur-artistique"></p>
        <p id="producteur"></p>
        <p id="label"></p>
        <p id="artiste"></p>
        <p id="album"></p>
        <p id="genre"></p>
    </main>

    <script>
        const chansonId = window.location.pathname.split('/').pop();
        const chansonUrl = `/api/chanson/${chansonId}`;

        fetch(chansonUrl)
            .then(response => response.json())
            .then(chanson => {
                document.getElementById('chanson-title').innerText = chanson.titre;
                document.getElementById('chanson-image').src = `/static/chansons_img/${chanson.cover}`;
                document.getElementById('chanson-image').alt = chanson.titre;
                document.getElementById('edit-link').href = `/chanson/edit/${chanson.id}`;
                document.getElementById('delete-link').href = `/chanson/delete/${chanson.id}`;
                document.getElementById('description').innerText = `Description : ${chanson.description}`;
                document.getElementById('duree').innerText = `Durée : ${chanson.duree}`;
                document.getElementById('directeur-artistique').innerText = `Directeur artistique : ${chanson.directeur_artistique}`;
                document.getElementById('producteur').innerText = `Producteur : ${chanson.producteur}`;
                document.getElementById('label').innerText = `Label : ${chanson.label}`;
                document.getElementById('artiste').innerHTML = `Artiste : <a href="/artiste/${chanson.id_artiste}">${chanson.nom_artiste}</a>`;
                document.getElementById('album').innerHTML = `Album : <a href="/album/${chanson.id_album}">${chanson.titre_album}</a>`;
                document.getElementById('genre').innerText = `Genre : ${chanson.genre}`;
            })
            .catch(error => console.log(error));
    </script>
</body>
</html>
