<!DOCTYPE html>
<html>
<head>
    <title>Formulaire d'édition de chanson</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="{{ url_for('artistes') }}">Liste des artistes</a>
        <a href="{{ url_for('albums') }}">Albums</a>
        <a href="{{ url_for('sons') }}">Liste des musiques</a>
    </nav>
    <main id="formulaire">
        <h1>Formulaire d'édition de chanson</h1>
        <form id="chanson-form" enctype="multipart/form-data" action="/api/chanson/{{ chansonId }}" method="POST">
            <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" name="titre" id="titre" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="cover">Cover</label>
                <input type="file" name="cover" id="cover" class="form-control-file">
            </div>
            <div class="form-group">
                <label for="duree">Durée</label>
                <input type="text" name="duree" id="duree" class="form-control" pattern="^([0-9]{2}):([0-9]{2}):([0-9]{2})$" placeholder="HH:MM:SS" />

            </div>
            <div class="form-group">
                <label for="directeur_artistique">Directeur artistique</label>
                <input type="text" name="directeur_artistique" id="directeur_artistique" class="form-control">
            </div>
            <div class="form-group">
                <label for="producteur">Producteur</label>
                <input type="text" name="producteur" id="producteur" class="form-control">
            </div>
            <div class="form-group">
                <label for="label">Label</label>
                <input type="text" name="label" id="label" class="form-control">
            </div>
            <div class="form-group">
                <label for="id_artiste">Artiste</label>
                <select name="id_artiste" id="id_artiste" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="id_album">Album</label>
                <select name="id_album" id="id_album" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label for="id_genre">Genre</label>
                <select name="id_genre" id="id_genre" class="form-control">
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </main>

    <script>

function getInfos() {
  var chansonId = window.location.pathname.split('/').pop();
  var chanson_id_album;
  var chanson_genre;
  var chanson_id_artiste;
  fetch('/api/chanson/' + chansonId)
    .then(response => response.json())
    .then(chanson => {
      document.getElementById('titre').value = chanson.titre;
      document.getElementById('description').value = chanson.description;
      var duree = chanson.duree; // Supposons que la durée soit "00:03:06"

        // Séparer les heures, minutes et secondes
        var [heures, minutes, secondes] = duree.split(':');

        // Ajouter un préfixe de zéro pour les heures si nécessaire
        heures = heures.padStart(2, '0');
      
        // Formater la durée avec les heures, minutes et secondes
        var duree_formattee = heures + ':' + minutes + ':' + secondes;

        // Affecter la durée formatée au champ de texte
        document.getElementById('duree').value = duree_formattee;
      //document.getElementById('duree').value = chanson.duree;
      

      console.log(chanson.duree);
      document.getElementById('directeur_artistique').value = chanson.directeur_artistique;
      document.getElementById('producteur').value = chanson.producteur;
      document.getElementById('label').value = chanson.label;
      chanson_id_album = chanson.id_album;
      chanson_id_artiste = chanson.id_artiste;
      chanson_genre = chanson.genre;
      console.log(chanson);
      return fetch('/api/albums');
    })
    .then(response => response.json())
    .then(albums => {
        
      var albumSelect = document.getElementById('id_album');
      albums.forEach(album => {
        var option = document.createElement('option');
        if(album.id == chanson_id_album) {
          option.selected="selected";
        }
        option.value = album.id;
        option.text = album.titre;
        albumSelect.appendChild(option);
      });
      
      return fetch('/api/artistes');
    })
    .then(response => response.json())
    .then(artistes => {
        console.log(artistes)
      var artisteSelect = document.getElementById('id_artiste');
      artistes.forEach(artiste => {
        var option = document.createElement('option');
        if(artiste.id == chanson_id_artiste) {
          option.selected="selected";
        }
        option.value = artiste.id;
        option.text = artiste.nom;
        artisteSelect.appendChild(option);
      });
     
      return fetch('/api/genres');
    })
    .then(response => response.json())
    .then(genres => {
      var genreSelect = document.getElementById('id_genre');
      genres.forEach(genre => {
        var option = document.createElement('option');
        option.value = genre.id;
        option.text = genre.titre;
        if(genre.titre == chanson_genre) {
          option.selected="selected";
        }
        genreSelect.appendChild(option);
      });
      
    })
    .catch(error => console.log(error));

  document.getElementById('chanson-form').addEventListener('submit', function(event) {
    event.preventDefault();

    var titre = document.getElementById('titre').value;
    var description = document.getElementById('description').value;
    var cover = document.getElementById('cover').files[0];
    var duree = document.getElementById('duree').value;
    var directeur_artistique = document.getElementById('directeur_artistique').value;
    var producteur = document.getElementById('producteur').value;
    var label = document.getElementById('label').value;
    var id_artiste = document.getElementById('id_artiste').value;
    var id_album = document.getElementById('id_album').value;
    var id_genre = document.getElementById('id_genre').value;
    
    var formData = new FormData();
    formData.append('id_chanson', chansonId);
    formData.append('titre', titre);
    
    formData.append('description', description);
    formData.append('cover', cover);
    formData.append('duree', duree);
    formData.append('directeur_artistique', directeur_artistique);
    formData.append('producteur', producteur);
    formData.append('label', label);
    formData.append('id_artiste', id_artiste);
    formData.append('id_album', id_album);
    formData.append('id_genre', id_genre);

    
    

    fetch('/api/chanson/' + chansonId, {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      window.location.href = '/chanson/' + chansonId;
    })
    .catch(error => console.log(error));
  });
}
     // Appeler la fonction loadPlaylists au chargement de la page
     document.addEventListener('DOMContentLoaded', () => {
        getInfos();
    });

   
    </script>
</body>
</html>
