<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Page chanson</title>
</head>
<body>
    
    <nav>
        <a href="/">Accueil</a>
        <a href="{{ url_for('artistes') }}">Liste des artistes</a>
        <a href="{{ url_for('albums') }}">Albums</a>
        <a href="{{ url_for('sons') }}">Liste des musiques</a>
    </nav>
    <main class="main-chanson">
        <h1 id="chanson-title"></h1>
        <img id="chanson-image" src="" alt="" width="300" height="300">
        <a href="#" id="edit-link">Modifier la chanson</a>
        <a style="color:red" href="#" id="delete-link">Supprimer la chanson ATTENTION IRREVERSIBLE !!!!!!</a>
        <p id="description"></p>
        <p id="duree"></p>
        <p id="directeur-artistique"></p>
        <p id="producteur"></p>
        <p id="label"></p>
        <p id="artiste"></p>
        <p id="album"></p>
        <p id="genre"></p>
    </main>

    <script>
        const chansonId = window.location.pathname.split('/').pop();
        console.log(chansonId);
        const chansonUrl = `/api/chanson/${chansonId}`;

        fetch(chansonUrl)
            .then(response => response.json())
            .then(chanson => {
                console.log(chanson);
                document.getElementById('chanson-title').innerText = chanson.titre;
                document.getElementById('chanson-image').src = `/static/chansons_img/${chanson.cover}`;
                document.getElementById('chanson-image').alt = chanson.titre;
                document.getElementById('edit-link').href = `/chanson/edit/${chanson.id}`;
                document.getElementById('delete-link').addEventListener('click', () => {
                    fetch(`/api/chanson/${chanson.id}`, { method: 'DELETE' })
                        .then(response => {
                            if (response.ok) {
                                // Rediriger vers la route 'sons' après la suppression
                                window.location.href = "{{ url_for('sons') }}";
                            }
                        })
                        .catch(error => console.log(error));
                });
                document.getElementById('description').innerHTML = `<strong>Description : </strong>${chanson.description}`;
                document.getElementById('duree').innerHTML = `<strong>Durée : </strong> ${chanson.duree}`;
                document.getElementById('directeur-artistique').innerHTML = `<strong>Directeur artistique : </strong> ${chanson.directeur_artistique}`;
                document.getElementById('producteur').innerHTML = `<strong>Producteur : </strong> ${chanson.producteur}`;
                document.getElementById('label').innerHTML = `<strong>Label : </strong> ${chanson.label}`;
                document.getElementById('artiste').innerHTML = `<strong>Artiste : </strong> <a href="/artiste/${chanson.id_artiste}">${chanson.nom_artiste}</a>`;
                document.getElementById('album').innerHTML = `<strong>Album : </strong> <a href="/album/${chanson.id_album}">${chanson.titre_album}</a>`;
                document.getElementById('genre').innerHTML = `<strong>Genre : </strong> ${chanson.genre}`;
            })
            .catch(error => console.log(error));
    </script>
</body>
</html>
