<!DOCTYPE html>
<html>
<head>
	<title>Tous les albums par artiste</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
		<a href="/">Accueil</a>
		<a href="{{ url_for('artistes') }}">Liste des artistes</a>
		<a href="{{ url_for('albums') }}">Albums</a>
		<a href="{{ url_for('sons') }}">Liste des musiques</a>
	</nav>
    <main>
        <h1>Liste des albums</h1>
        <table>
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Titre</th>
                    <th>Artiste</th>
                    <th>Genre</th>
                    <th>Nombre de sons</th>
                </tr>
            </thead>
            <tbody id="bodytab">

            </tbody>
        </table>

        <script>
            // Fonction pour effectuer une requête fetch vers l'endpoint /api/playlists et afficher les playlists
            function getAlbums() {
                fetch('/api/albums')
                    .then(response => response.json())
                    .then(albums => {
                        
                        const tableBody = document.getElementById('bodytab');

                        albums.forEach(album => {
                            const row = document.createElement('tr');

                            const coverCell = document.createElement('td');
                            const coverImage = document.createElement('img');
                            coverImage.src = "../static/albums_img/"+album.cover;
                            coverImage.width = 100;
                            coverCell.appendChild(coverImage);

                            const titleCell = document.createElement('td');
                            titleCell.textContent = album.titre;

                            const artistCell = document.createElement('td');
                            artistCell.textContent = album.artiste;

                            const genreCell = document.createElement('td');
                            genreCell.textContent = album.genre;

                            const songCountCell = document.createElement('td');
                            songCountCell.textContent = album.nombre_de_musique;

                            row.appendChild(coverCell);
                            row.appendChild(titleCell);
                            row.appendChild(artistCell);
                            row.appendChild(genreCell);
                            row.appendChild(songCountCell);

                            tableBody.appendChild(row);
                        });

                    
                    })
                    .catch(error => {
                    console.log('Une erreur s\'est produite:', error);
                    });
            }

            // Appeler la fonction loadPlaylists au chargement de la page
            document.addEventListener('DOMContentLoaded', () => {
                getAlbums();
            });

            
        </script>
    </main>
</body>
</html>
