<!DOCTYPE html>
<html>
<head>
	<title>Tous les albums par artiste</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
		<a href="/">Accueil</a>
		<a href="{{ url_for('artistes') }}">Liste des artistes</a>
		<a href="{{ url_for('albums') }}">Albums</a>
		<a href="{{ url_for('sons') }}">Liste des musiques</a>
	</nav>
    <main>
        <h1>Liste des albums</h1>

        <table>
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Titre</th>
                    <th>Artiste</th>
                    <th>Genre</th>
                    <th>>Nombre de sons</th>
                </tr>
            </thead>
            <tbody>
                {% for artiste, albums in albums_par_artiste.items() %}
                <tr>
                    <th colspan="5">{{ artiste }}</th>
                </tr>
                {% for album in albums %}
                <tr>
                    <td><img src="static/albums_img/{{ album[1] }}"></td>
                    <td><a href="/album/{{ album[0] }}">{{ album[2] }}</a>
                    </td>
                    <td><a href="/artiste/{{ album[6] }}">{{ album[3] }}</a></td>
                    <td>{{ album[4] }}</td>
                    <td>{{ album[5] }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
