<!DOCTYPE html>
<html>
<head>
    <title id="playlist-title"></title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="{{ url_for('artistes') }}">Liste des artistes</a>
        <a href="{{ url_for('albums') }}">Albums</a>
        <a href="{{ url_for('sons') }}">Liste des musiques</a>
    </nav>
    <main>
        <h1 id="playlist-title"></h1>
        <img id="playlist-image" src="" alt="" width="300">
        <p id="playlist-description"></p>
        <p id="playlist-date"></p>
        <a id="playlist-edit-link" href="">Modifier la playlist</a>
        <button id="playlist-delete-button" style="color:red">Supprimer la playlist ATTENTION IRREVERSIBLE !!!!!!</button>
        <h2>Liste des chansons dans la playlist</h2>
        <div class="playlist">
            <ul id="songs-in-playlist"></ul>
            <aside>
                <ul id="songs-not-in-playlist"></ul>
            </aside>
        </div>
    </main>

    <script>
        // Récupérer l'ID de la playlist à partir de l'URL
        var playlistId = window.location.pathname.split('/').pop();

        // Faire une requête GET à l'API pour obtenir les informations de la playlist
        fetch('/api/playlist/' + playlistId)
            .then(response => response.json())
            .then(playlist => {
                console.log('/static/playlists_img/' + playlist.image);
                // Mettre à jour les éléments HTML avec les informations de la playlist
                document.getElementById('playlist-title').innerText = playlist.name;
                document.getElementById('playlist-image').src = '/static/playlists_img/' + playlist.image;
                document.getElementById('playlist-description').innerText = 'Description : ' + playlist.description;
                document.getElementById('playlist-date').innerText = 'Date de création : ' + playlist.date_creation;
                document.getElementById('playlist-edit-link').href = '/playlist/edit/' + playlist.id;

                // Générer la liste des chansons dans la playlist
                var songsInPlaylist = playlist.songsinplaylist;
                var songsInPlaylistContainer = document.getElementById('songs-in-playlist');
                songsInPlaylist.forEach(function(song) {
                    var listItem = document.createElement('li');
                    var songName = document.createElement('span');
                    songName.innerText = song.name;
                    listItem.appendChild(songName);

                    var removeLink = document.createElement('a');
                    removeLink.href = '#';
                    removeLink.innerText = ' Retirer';
                    removeLink.addEventListener('click', function() {
                        removeSongFromPlaylist(song.id, playlist.id);
                    });
                    listItem.appendChild(removeLink);

                    songsInPlaylistContainer.appendChild(listItem);
                });

                // Générer la liste des chansons non présentes dans la playlist
                var songsNotInPlaylist = playlist.songsnotinplaylist;
                var songsNotInPlaylistContainer = document.getElementById('songs-not-in-playlist');
                songsNotInPlaylist.forEach(function(song) {
                    var listItem = document.createElement('li');
                    var songName = document.createElement('span');
                    songName.innerText = song.name;
                    listItem.appendChild(songName);

                    var addLink = document.createElement('a');
                    addLink.href = '#';
                    addLink.innerText = ' Ajouter';
                    addLink.addEventListener('click', function() {
                        addSongToPlaylist(playlist.id, song.id);
                    });
                    listItem.appendChild(addLink);

                    songsNotInPlaylistContainer.appendChild(listItem);
                });
            })
            .catch(error => console.log(error));

        function addSongToPlaylist(playlistId, songId) {
            fetch('/api/playlist/add/' + playlistId + '/' + songId, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    // Recharger la page pour afficher les mises à jour
                    location.reload();
                })
                .catch(error => console.log(error));
        }

        function removeSongFromPlaylist(songId, playlistId) {
            fetch('/api/playlist/remove/' + playlistId + '/' + songId, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    // Recharger la page pour afficher les mises à jour
                    location.reload();
                })
                .catch(error => console.log(error));
        }

        // Récupérer la référence du bouton de suppression
        var deleteButton = document.getElementById('playlist-delete-button');

        // Ajouter un écouteur d'événement pour le clic sur le bouton de suppression
        deleteButton.addEventListener('click', function() {
            // Faire une requête DELETE à l'API pour supprimer la playlist
            fetch('/api/playlist/' + playlistId, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    // Afficher le message de suppression réussie
                    console.log(data.message);
                    // Rediriger vers la page d'accueil ou une autre page de votre choix
                    window.location.href = '/';
                })
                .catch(error => console.log(error));
        });
    </script>
</body>
</html>
